[Desktop Entry]
Name=SGT Puzzles Collection
Name[da]=SGT-opgavesamling
Name[de]=SGT Puzzles Collection
Name[es]=Colección de puzles SGT
Name[fi]=SGT pulmapelikokoelma
Name[fr]=Collection de puzzles SGT
Name[lt]=SGT galvosūkių kolekcija
Name[ms]=Himpunan Teka-Teki SGT
Name[ms@Arab]=هيمڤونن تکا-تکي SGT
Name[nl]=SGT Puzzelverzameling
Name[pl]=Kolekcja gier logicznych SGT
Name[pt]=Colecção Quebra-cabeças SGT
Name[sv]=SGT Pusselsamling
Name[uk]=Колекція Головоломок SGT
Name[zh_CN]=SGT 益智集合
GenericName=Collection of short puzzle games
GenericName[da]=Samling af hurtige opgavespil
GenericName[de]=Sammlung kurzer Puzzlespiele
GenericName[es]=Colección de juegos y puzles cortos
GenericName[fi]=Kokoelma lyhyitä pulmapelejä
GenericName[fr]=Une collections de court puzzles
GenericName[lt]=Trumpų galvosūkių žaidimų kolekcija
GenericName[ms]=Himpunan permainan teka-teki yang pendek
GenericName[ms@Arab]=هيمڤونن ڤرماٴينن تکا-تکي يڠ ڤينديق
GenericName[nl]=Een verzameling korte puzzelspelletjes
GenericName[pl]=Kolekcja prostych gier logicznych
GenericName[pt]=Coleccção de pequenos jogos quebra-cabeças
GenericName[sv]=Samling av korta pusselspel
GenericName[uk]=Колекція коротких ігор головоломок
GenericName[zh_CN]=益智小游戏集合
Comment=Launcher for Simon Tatham's Portable Puzzle Collection
Comment[da]=Starter til Simon Tatham's transportable opgavesamling
Comment[de]=Starter für Simon Tathams Portable Puzzle Collection
Comment[es]=Lanzadpr de la colección portátil de puzles de Simon Tatham
Comment[fi]=Käynnistin Simon Tathamin siirrettävälle pulmapelikokoelmalle
Comment[fr]=Lanceur pour la collection de puzzles portables de Simon Tatham
Comment[lt]=Leistukas, skirtas Simon'o Tatham'o perkeliamų galvosūkių kolekcijai
Comment[ms]=Pelancar untuk Himpunan Teka-Teki Mudah Alih milik Simon Tatham
Comment[ms@Arab]=ڤلنچر اونتوق هيمڤونن تکا-تکي موده اليه ميليق Simon Tatham
Comment[nl]=Starter voor Simon Tathams Draagbare Puzzelverzameling
Comment[pl]=Program uruchamiający gry z Kolekcji Gier Logicznych Simona Tathama
Comment[pt]=Lançador para a colecção portátil de quebra-cabeças de  Simon Tatham
Comment[sv]=Startare för Simon Tathams portabla pusselsamling
Comment[zh_CN]=Simon Tatham 可移植益智集合的简易启动器
Exec=/usr/games/sgt-launcher
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=sgt-launcher
Icon=sgt-launcher
Categories=Game;LogicGame;
Keywords=Games;Puzzles;
Keywords[da]=Spil;Opgaver;
Keywords[de]=Spiele;Puzzles;
Keywords[es]=Games;Puzzles;
Keywords[fi]=Pelit;Pulmapelit;
Keywords[fr]=Jeux;Puzzles;
Keywords[lt]=Žaidimai;Galvosūkiai;
Keywords[ms]=Permainan;Teka-teki;
Keywords[ms@Arab]=ڤرماٴينن;تکا-تکي;
Keywords[nl]=Spellen;Puzzels;
Keywords[pl]=Gry;Logiczne;
Keywords[pt]=Jogos;Quebra-cabeças;
Keywords[sv]=Spel;Pussel;
Keywords[uk]=Ігри;Головоломки;
Keywords[zh_CN]=游戏;益智;猜谜;
Hidden=true

